{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
    <div class="content-section">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Image</legend>
                <h2>Are you sure you want to delete image {{ object.image_name }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a href="{% url 'image_detail' object.id %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
<div class="col-md-4"></div>
</div>
{% endblock %}