{% extends 'main/base.html' %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-12">
    <div class="content-section">
        <div class="media">
            <img src="{{ user.profile.profile_pic.url }}" alt="profile image" class="rounded-circle profile-img">
            <div class="media-body">
                <div class="ml-custom">
                <div class="display">
                <p class="custom-fontsize">{{ user.username }}
                {% if current_user.profile == user.profile %}
                    <a href="{% url 'profile' %}" ><button class="btn btn-outline-primary">Edit Profile</button></a>
                {% endif %}
                <a class="fa fa-sun-o" aria-hidden="true"  data-toggle="modal" data-target="#exampleModalCenter"></a>
            </p>
            <p>
                <i><strong id="pad-left">{{ user.image_set.all|length }}</strong> posts</i>    <i id="pad-left"><strong id="pad-left">{{ users|length}}</strong> followers</i>     <i id="pad-left"><strong >{{ users|length}}</strong> following</i>
            </p>
            </div>
                <p class="text-secondary"> Email: {{ user.email }}</p>
                <p class="text-secondary">Bio: {{ user.profile.bio }}</p>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-md-8"></div> -->
</div><hr>
<div class="row">
    {% if images %}
        {% for image in images %}
        <div class="col-md-4">
            <a href="{% url 'image_detail' image.id %}">
            <img src="{{ image.image.url }}" alt="{{ image.image_name }} image" id="profile-images">
        </a>
        </div>
        {% endfor %}
    {% else %}
        <h2 class="text-center">This user has not uploaded any images yet!!</h2>
    {% endif %}
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
                <div class="text-center">
                    <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                </div>
            </div>
            
          </div>
        </div>
      </div>
{% endblock %}