/* p {
    color: aqua;
} */

.display-images {
    height:600px;
    width: 500px;
}
/* .boarder {
    border: 1px solid black;
    border-radius: 12px;
    height:800px;
    width: 500px;
} */
.custom-display {
    height: 50px;
    width: 50px;
    padding: 3px;
}

.card {
    width: 550px;
}

.placing {
    display: flex;
}

/* .card-heading {
    background-image: url(../siteimages/banner.jpeg);
} */

body {
    padding-top: 100px;
}

.h1-custom {
    font-family: 'Cookie', cursive;
    font-size: 40px;
}

.custom-icon {
    color: black;
}

.profile-img {
    width: 200px;
    height: 200px;
}

#profile-images {
    height: 300px;
    width: 300px;
    padding: 10px;
}

.hide-button {
    visibility: hidden;
}

.custom-center {
    padding-left: 250px;
}

.ml-custom {
    margin-left: 100px;
}

.custom-fontsize {
    font-size: 50px;
}

.custom-placing{
    display: flex;
}

.fa-heart {
    color: red;
    font-size: 40px;
}

.fa-comments{
    color:blue;
    font-size: 40px;
    padding-left: 2px;
}

.side-view {
    padding-top: 50px;
}

.overflowstyle {
    overflow:auto;
    height:200px;
    width: 200px;
}

.fa-sun-o{
    font-size: 40px;
}

#pad-left {
    padding-left: 20px;
}

.fa-upload {
    font-size: 40px;
}